backtrader==1.9.76.123
bta-lib==1.0.0
certifi==2020.12.5
chardet==4.0.0
cycler==0.10.0
DateTimeRange==1.0.0
idna==2.10
kiwisolver==1.3.1
lxml==4.6.2
matplotlib==3.3.3
mbstrdecoder==1.0.1
multitasking==0.0.9
numpy==1.19.4
pandas==1.1.5
psycopg2==2.8.6
Pillow==8.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.4
QuantStats==0.0.25
requests==2.25.1
scipy==1.5.4
seaborn==0.11.1
six==1.15.0
SQLAlchemy==1.3.22
tabulate==0.8.7
typepy==1.1.2
urllib3==1.26.2
xlrd==2.0.1
XlsxWriter==1.3.7
yfinance==0.1.55
